body{
    background-color: black;
}

.allForm{
    background-color: grey;
    text-align: center;
}
.allForm h1{
    color: rgb(22, 22, 86);
}
.allForm input{
    border:1px solid black;
    height: 20px;
    width: 200px;
}
.allForm button{
    border: 1px solid black;
    background-color: white;
    padding: 3px;
    color: rgb(22, 22, 86);
    font-weight: bold;

}

.todoLists{
  display: flex;
  justify-content: center;
}

.toDoItem{
    border: 2px solid rgb(22, 22, 86);
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px;

}

.toDoItem button{
    height: 25px;
}